@use "./mixin.scss" as mixin;

@keyframes body-content-load {
  0% {
    transform: scale(0);
  }
  90% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.box-container-main {
  width: calc(100% - 100px);
  height: fit-content;
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  margin-bottom: 20px;

  > * {
    animation-name: body-content-load;
    animation-duration: mixin.$body-content-load-time;
    animation-timing-function: ease-in;
    animation-delay: mixin.$body-left-load-time;
    transform: scale(0);
    animation-fill-mode: forwards;
  }

  > .box-container-title {
    margin: 10px 0;
    font-size: xx-large;
    text-align: center;

    > span {
      text-shadow: 2px 2px 10px #070707;
    }
  }
}
