.box-container-main {
  width: calc(100% - 100px);
  height: fit-content;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  margin-bottom: 20px;

  > .box-container-title {
    margin: 10px 0;
    font-size: xx-large;
    text-align: center;
    > span {
      text-shadow: 2px 2px 8px #5b0a9a;
    }
  }
}
