.button-main {
  display: flex;
  text-align: center;
  padding: 15px 12px;
  text-decoration: none;
  font-size: 10pt;
  cursor: pointer;
  align-items: center;
  opacity: 0.5;

  :not(:first-child) {
    margin-left: 5px;
  }

  &:hover {
    opacity: 1;
  }
}
