.circle-box-main {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  overflow: hidden;
  padding: 20px;
  border-radius: 20px;

  &:hover {
    backdrop-filter: saturate(20);

    > .circle-box-label {
      color: black;
      border-radius: 10px;
      font-size: 1.5rem;
      &::before {
        content: "➡";
      }
      &::after {
        content: "⬅";
      }
    }
  }

  > .circle-box-label {
    font-weight: bold;
    font-size: 1rem;
    padding: 10px;
  }
}
