.circle-box-main {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  overflow: hidden;
  padding: 20px;
  border-radius: 20px;
  cursor: pointer;
  opacity: 0.8;

  &:hover {
    backdrop-filter: saturate(100);
    opacity: 1;

    > .circle-box-label {
      color: black;
      border-radius: 10px;
    }
  }

  > .circle-box-label {
    font-weight: bolder;
    font-size: 1rem;
    padding: 10px;
  }
}
