.education-card-container-main {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: rgba(127, 49, 169, 0.25) 0px 30px 60px -12px inset,
    rgba(227, 127, 238, 0.3) 0px 18px 36px -18px inset;

  > .education-card-container-image {
    padding: 10px;
    box-sizing: border-box;
  }

  > .education-card-container-data {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    > .education-card-container-row {
      width: 100%;
      height: fit-content;
      display: flex;
      // justify-content: space-evenly;

      > .education-card-container-title {
        flex: 1;
      }
      > .education-card-container-value {
        flex: 3;
      }

      > * > span {
        font-size: smaller;
      }
    }
  }
}
