@use "./mixin.scss" as mixin;
@import "./global.module.scss";

.header-main {
  height: fit-content;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(247, 202, 201, 1) 0%,
    white 50%,
    rgba(179, 206, 229, 1) 100%
  );
  display: flex;
  flex-direction: column;
  animation: left-load mixin.$header-load-time ease-in;
  position: sticky;
  top: 0;
  z-index: 2;

  > .header-content {
    width: 100%;
    height: fit-content;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    > span {
      font-size: 1rem;
    }
  }

  > .logo {
    width: 100px;
    height: 0px;
  }

  > .buttons {
    width: 100%;
    height: fit-content;
    display: flex;
    background: linear-gradient(
      90deg,
      rgba(179, 206, 229, 1) 0%,
      white 50%,
      rgba(247, 202, 201, 1) 100%
    );

    border-bottom: 1px solid rgba(179, 206, 229, 1);

    > * {
      width: 100%;
      // height: calc(100% - 20px);

      @include mixin.tablet {
        // display: none;
      }

      > ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;

        display: flex;
        justify-content: center;

        > li {
          animation-name: pop-out-load-1-5;
          animation-duration: mixin.$header-button-load-time;
          animation-timing-function: ease-in;
          animation-delay: mixin.$header-load-time;
          transform: scale(0);
          animation-fill-mode: forwards;
        }
      }
    }

    > .left-buttons {
    }

    > .right-buttons {
    }
  }
  > .current-location {
    // background-color: white;
    padding: 10px;
    font-size: 0.8rem;
    border-bottom: 2px solid rgb(247, 202, 201, 1);
    background: linear-gradient(
      90deg,
      rgba(247, 202, 201, 1) 0% white 50%,
      rgba(179, 206, 229, 1) 100%
    );

    > a {
      color: blue;
      cursor: pointer;
    }
  }
}
