.header-main {
  height: 180px;
  width: 100%;
  background-color: silver;
  display: flex;

  > .contact {
    width: 40%;
    border: 1px solid black;
    display: flex;

    > .image-details {
      width: 50%;
      height: 50%;
      
    }

    > .contact-details {
    }
  }
  
  > * {
    height: 100%;
    padding: 5px;
  }

  > .header-buttons {
    width: 100%;
  }
}


