@import "global.module.scss";

.circle-box-main {
  @extend .global-body;

  h1,
  h2 {
    text-align: center;
  }

  > .circle-box-content {
    display: grid;
    grid-template-columns: 1fr;
    overflow: hidden;

    > * {
      justify-self: center;
      margin: 20px 0;
    }
  }
}
