@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css?family=Helvetica&display=swap");

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: silver;
  overflow: auto;
}

div,
p {
  font-size: 21px;
  font-family: "Lato";
  line-height: 1.58;
  letter-spacing: -0.003em;
}

span {
  font-family: "Helvetica";
}

a {
  text-decoration: none;
}

#__next {
  height: 100%;
  width: calc(100% - 400px);
}
