@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

div,
p {
  font-size: 21px;
  font-family: "Lato";
  line-height: 1.58;
  letter-spacing: -0.003em;
}

#__next {
  height: 100%;
}
