.work-card-container-main {
  width: calc(100% - 22px);
  height: fit-content;
  background-color: white;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  margin-bottom: 10px;
  cursor: pointer;

  &:hover {
    box-shadow: rgb(221, 146, 146) 0px 20px 30px -10px;
    transform: scale(1.1);
    opacity: 0.5;
  }

  > .work-card-container-title {
    border-bottom: 2px solid black;
    margin-bottom: 10px;
    text-align: left;
    > span {
      text-shadow: 2px 2px 8px rgb(221, 146, 146);
      font-size: 13px;
    }
  }
}
